* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black; 
  }

body{
    font-family: 'ABeeZee', sans-serif;
    padding: 0 !important;

}

h3{
  font-size: 3em;
  font-family: 'Tilt Warp', cursive;
  border-bottom: black solid 1px;
  overflow-y: hidden; }

h5{
  font-size: 1.5em;
  font-family: 'Tilt Warp', cursive;
}

    /* NAVBAR */

.header__container {
    justify-content: flex-end;
    margin-right: 20px ;
    opacity: 100%;
  }

.header__anchor, .anchor__name {
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding: 0.5rem 0rem;
  margin: 0rem .5rem;
  border-bottom: white solid 2px;
  display: inline-block;
  transition: all .2s ease-in-out; 
  

}
  .header__anchor:hover {
    color: #3b9edb;
    margin: 0 1rem;
    scale: 1.1;
  }

.anchor__name:hover {
  color: #3b9edb;
  margin: 0 1rem;
  scale: 1.1;
}


.header__item {
    display: inline-block; 
}


    /* HERO */

.hero{
  width: 100%;
  height: 94vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url(../media/hero/heroBackground.jpg);
  opacity: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 padding: 0;
}

.hero__personaFoto{
  width: 300px;
  height: auto;
  border-radius: 100%;
  border-top: white 3px solid;
  border-right: white 1px solid;
  padding: 10px;
}

.hero__personaTexto {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;

  color: white;
  margin: 2rem;
  max-width: 50%;
}

.hero__personaTitulo{
  font-size: 5.5em;
  overflow-y: hidden;

}

.hero__personaDesc{
  font-size: 1.5em;
  text-align: center;
}

    /* INFORMACION PERSONAL */

.infoPersonal{
  height: 90vh;
}
.infoPersonal__text{
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}

.infoPersonal__titulo{
  font-size: 3em;
  margin: 2rem 0 ;
  font-family: 'Tilt Warp', cursive;
  overflow-y: hidden;

}
.infoPersonal__desc{
  font-size: 1.3em;
  padding-right:9rem ;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.infoPersonal__contImg{
  display: flex;
}

.infoPersonal__img{
  object-fit: cover;
}


    /* PORTFOLIO */

    
.portfolio{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
}

.container__portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.card {
  width: 27rem;
  height: 32rem;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 
 .portfolio__titulo{
  overflow-y: hidden;
 }

 .card-img {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
  object-fit: cover;
 }
 
 .card-info {
  padding-top: 10%;
 }
 
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .5em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #3b9edb;
  background-color: #3b9edb;
 }


    /* ESTUDIOS */

video.fillWidth {
  width: 100%;
}

.estudios__col{
display: flex;
flex-direction: column;
justify-content: center;
align-content: flex-start;
text-align: justify;
margin: 2rem 0;
font-size: 1.2em;
font-family: 'Raleway', sans-serif;
font-weight: 500;
}




      /* CONTACTO */
.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #ece9e7;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: black;
  border-bottom: 1px solid #3b9edb;
}

.contact-form form button {
  background: #3b9edb;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: black;
  transition: background-color 1s ease-out;
  outline: 0;
}

          /* CONTACT INFO */
.contact-info {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #9581f4, #23a6d5, #25d5ab);
  background-size: 400% 400%;
  animation: gradient 10s infinite;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

        /* LARGE SIZE (contact info)*/
@media(min-width: 700px) {
  body {
      padding: 0 4em;
  }
  .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: left;
  }
}


.img__redes{
  max-width: 35px;
  margin: 20px 15px 20px 0
}

.btn__cv{
  background-color: #23a6d5;
  border-radius: 5px;
  padding: .2rem;
}

        /* GRADIENTE */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  0% {
    background-position: 0% 50%;
  }
}




@media(max-width: 767px) { 

  h3{
    font-size: 1.5rem;
    padding: .5rem;
  }



  /* hero */
  
  .hero__personaFoto{
    max-width: 150px ;
    margin-bottom: 3rem;
  }

  .hero__personaTexto{
    margin: .5rem;
  }

  .hero__personaTitulo{
    font-size: 1.9rem;
  }

  .hero__personaDesc{
    font-size: 1.2rem ; 
  }

  /* info personal */

  .infoPersonal__titulo{
    font-size: 1.5rem;
  }

  .infoPersonal__desc{
    font-size: 1rem;
    padding: .5rem;
  }

  .infoPersonal__contImg{
    display: none ;
  }

  .container__portfolio{
    flex-direction: column;
    justify-content: center;

  }

  /* portfolio */

  .card {
    width: 12.5rem;
    height: 23.5rem;
    margin: 1rem;
  }


  /* estudios */

  .estudios__container{
    flex-direction: column;
  }

  .flip{
    flex-direction: column-reverse;
  }

  .estudios__col{
    font-size: .8em;
    padding: .5;
  }
}

@media(max-width: 1023px) {

  .hero__personaFoto{
    max-width: 250px
  }

  h3{
    font-size: 2rem;
  }

  .header__list {
    align-items: center;
  }
  .hero__personaTitulo{
    font-size: 2.5em;
  }

  .hero__personaDesc{
    font-size: 1.2em;
    margin-top: 1rem;
  }

  .infoPersonal__titulo{
    font-size: 2em;
  }
  
 .portfolio__titulo{
  margin: 2rem 0;
 }

 .card{
  margin: 2rem 0;
 }

 .estudios__col{
  font-size: 1em;
}

.contacto{
  padding: .5rem;
}

.contacto__ul  {
  padding: 0;
}

.li__email{
  font-size: .9em;
}
}

@media(min-width: 1024px) and (max-width: 1400px){

  .hero__personaTitulo{
     font-size: 3em;
   }

   .infoPersonal__titulo{
    font-size: 2.2em;
  }

  h3{
    font-size: 2.2rem;
  }

 }